<!DOCTYPE html>
<html>
<head>
  <title>Rails buddy</title>
  <%= stylesheet_link_tag    "rails_buddy/application", media: "all" %>
  <%= javascript_include_tag "rails_buddy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
